#heading1{
    text-align: center;
}
.paragraph{
    font-family: "Monotype Corsiva";
    font-size: 16px;
}

#mydivision{
    background-color: #00d0ff;
    margin: 40px;
    padding: 30px;
    color: white;
}
#test{
    background-color: yellowgreen;
    margin: 40px;
    padding: 40px;
    display: flex;
    color: white;
}

#test img{
    margin-right: 40px;
    border-radius: 400px;
}
#main{
    display: flex;
}

#advertisement{
    background-color: #00fff7;
    color: white;
    margin-left:20px;
    padding:30px;
    box-shadow: 8px 6px 12px 4px gray;
}

#accounting{
    background-color: yellowgreen;
    color: white;
    margin-left:20px;
    padding:30px;
    box-shadow: 8px 6px 12px 4px gray;
}

#payment{
   background-color: #c800ff;
    color: white;
    margin-left:20px;
    padding:30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#advertisement:hover, #accounting:hover, #payment:hover{
    background-color: gray;
}